
/* MyComponent.css */
.container {
  padding: 20px;
  background-color: #f5f5f5;
   color: #333;
  border: 1px solid #ccc;
}
.menubar_background_color
{  
    background-color: #e9ecef;
}

.title {
  color: #333;
  font-size: 24px;
}

.table_header_background_color
{
    background-color:#007bff !important ;  
     color: white !important;    
}

h3{
  text-align: center;
}

